/* 1. Impor direktif Tailwind (Base, Components, Utilities) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Terapkan kustomisasi kita SETELAH Tailwind dimuat */
html, body {
  @apply bg-slate-800 text-slate-300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/* Kustomisasi Tampilan Kartu PrimeVue agar sesuai */
.p-card {
  @apply bg-slate-900 text-slate-200 shadow-xl border border-slate-700;
}
.p-card .p-card-title {
  @apply text-indigo-400;
}
.p-card .p-card-content {
  @apply text-slate-300;
}

/* Kustomisasi Tampilan Upload */
.p-fileupload-content {
  @apply bg-slate-800 border-slate-700;
}
.p-fileupload-empty {
  @apply text-slate-400;
}

/* Perbaikan Tombol Disabled (Tidak Terbaca) */
.p-button.p-disabled, .p-button:disabled {
  @apply bg-slate-700 text-slate-500 border-slate-700;
}